<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-gui-script minSpecVersion="1">
	<title><%= config.name %></title>
    <pkg-ref id="<%= config.id %>"/>
    <options customize="never" require-scripts="false"/>
    <choices-outline>
        <line choice="default">
            <line choice="<%= config.id %>"/>
        </line>
    </choices-outline>
    <choice id="default"/>
    <choice id="<%= config.id %>" visible="false">
        <pkg-ref id="<%= config.id %>"/>
    </choice>
    <pkg-ref id="<%= config.id %>" version="<%= version %>" onConclusion="none">app.pkg</pkg-ref>
</installer-gui-script>